@tailwind base;
@tailwind components;
@tailwind utilities;
/* .bg-white {
    background-color: white;
  }
  
  .bg-black {
    background-color: black;
  }
  
  .text-black {
    color: black;
  }
  
  .text-white {
    color: white;
  }
  
  .dark .bg-white {
    background-color: black; 
  }
  
  .dark .text-black {
    color: white;  
  } 
.scrollbar-hide::-webkit-scrollbar {
  display: none;
} */

.scrollbar-hide {
  scrollbar-width: none; 
}
.instagram-logo {
  background-position: 0 -130px;
  height: 51px;
  width: 175px;
  background-image: url(https://bit.ly/3v2LT17);
}
.facebook-logo {
  background-position: -414px -259px;
  background-image: url(https://bit.ly/3v2LT17);
  height: 16px;
  width: 16px;
}
.apple-store-logo {
  background-position: -132px -182px;
  height: 42px;
  width: 128px;
  background-image: url(https://bit.ly/3v2LT17);
}
.google-store-logo {
  background-position: 0 -182px;
  height: 42px;
  width: 130px;
  background-image: url(https://bit.ly/3v2LT17);
}
.nav-item {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.nav-item:hover {
  background-color: #f0f0f0;
}

.nav-icon {
  font-size: 24px;
  margin-right: 15px;
}

.nav-text {
  font-size: 16px;
  font-weight: 600;
}

.nav-icon-mobile {
  font-size: 28px;
  color: #555;
}

@media (max-width: 768px) {
  .nav-item {
    display: none; /* Hide desktop nav items on mobile */
  }

  .nav-icon-mobile {
    display: block; /* Show mobile icons */
  }
}
/* Add this to your CSS file */
.masonry-grid-column {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .masonry-grid-column {
    margin: 0 4px; /* Add some spacing */
  }
}
